{% extends 'inventory_module/base.html' %}

{% block content %}
    <h1>Inventory List</h1>
    {% for item in items %}
        <article class="inventory">
            <h2><a href="{% url 'inventory_detail' pk=item.pk %}">{{ item.name }}</a></h2>
            <p>Coil Number: {{ item.coil_number }}</p>
            <p>Total Price: ${{ item.price}}</p>
            <p>Status: {{ item.status }}</p>
            <p>{{ item.description|linebreaksbr }}</p>
        </article>
    {% empty %}
        <p>No inventory items found.</p>
    {% endfor %}
{% endblock %}