<!DOCTYPE html>
{% extends 'customer_module/base.html' %}

{% block content %}
    <article class="Order">
        {% if user.is_authenticated %}
            <h1>Order Details</h1>
        {% else %}
            <h1>Order Details (Login Required)</h1>
        {% endif %}

        {% if Order.Order_date %}
            <time class="date">
                {{ Order.Order_date }}
            </time>
        {% else %}
                <aside class="actions">
                    <a class="btn btn-secondary" role="button" href="{% url 'Order_new' %}">New Order</a>
                </aside>
        {% endif %}
        <h2>{{ Order.Order_Number }}</h2>
        <p>{{ Order.Order_Info|linebreaksbr }}</p>
    </article>
{% endblock %}